:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Quicksand", sans-serif;
  --third-family: "Nunito Sans", sans-serif;

  --dark-green: #52c29d;
  --middle-green: #caeff2;
  --light-green: #e1f4f5;
  --lighten-green: #f4feff;
  --dark-blue: #007ffc;
  --middle-blue: #b9dcff;
  --light-blue: #d1e7ff;
  --lighten-blue: #e8f3ff;
  --text: #16133d;
}